.about-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;

}

#about-first{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    row-gap: 10px;
}

#about-second{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    row-gap: 10px;
}

#about-education{
    background-color:  rgba(255, 255, 255, 0.13);
    padding: 20px;
    border-radius: 12px;
    border: 0.8px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}

.about-heading{
    background: transparent;
}

.about-subheading{
    background: transparent;
}


#mypic2{
    width: 350px;
    border-radius: 50%;
}


@media screen and (max-width:750px) {
    #mypic2{
        width: 256px;
    }
}
