#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    column-gap: 30px;
    font-size: 20px;
}

#sub-nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    color: rgba(255, 255, 255, 0.64);
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    font-family: Inter;
}



#nav-menu{
    display: flex;
    align-items: center;
    justify-content: right;
}

#menu{
    display: none;
}

.link-tag{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.64);
    padding: 10px;
    border-radius: 10px;  
}

.link-tag:active{
    background-color: rgba(255, 0, 0);
}


.link-tag:hover{
    color:white;
    background-color: rgba(255, 0, 0);
    font-weight: 600;
}


